In [5]:
import numpy as np
import pandas as pd
from IPython.display import display

# Parameters
initial_salary = 70000
hike_rate = 0.035
self_contribution_rate = 0.03
years = 35
start_age = 30
acc_levy = 0.0167
inflation_rate = 0.025

# NZ tax brackets
nz_tax_brackets = [
    (0, 15600), (15601, 53500), (53501, 78100), (78101, 180000), (180001, float('inf'))
]
tax_rates = [0.105, 0.175, 0.30, 0.33, 0.39]

# Fund details
funds = {
    "Harboursafe": {"growth_rate": 0.0375, "volatility": 0.05, "weight": 0.4},
    "Horizon": {"growth_rate": 0.065, "volatility": 0.105, "weight": 0.3},
    "SkyHigh": {"growth_rate": 0.1025, "volatility": 0.2075, "weight": 0.3},
}

# Tax calculation function
def calculate_tax(salary, base_slabs, year, inflation_rate=0.025):
    adjusted_slabs = [
        (bracket[0] * ((1 + inflation_rate) ** (year - 1)),
         bracket[1] * ((1 + inflation_rate) ** (year - 1)), rate)
        for (bracket, rate) in zip(base_slabs, tax_rates)
    ]
    tax = 0
    for lower, upper, rate in adjusted_slabs:
        if salary > lower:
            taxable_income = min(salary, upper) - lower
            tax += taxable_income * rate
        else:
            break
    return tax

# Run simulation
np.random.seed(42)
records = []
salary = initial_salary
corpus = 0

for year in range(1, years + 1):
    age = start_age + year - 1

    # --- Salary growth ---
    if year > 1:
        salary *= (1 + np.random.normal(loc=hike_rate, scale=0.01))

    # --- Deductions ---
    tax = calculate_tax(salary, nz_tax_brackets, year, inflation_rate)
    acc = acc_levy * salary
    net_salary = salary - tax - acc

    # --- Contributions ---
    emp_contribution = self_contribution_rate * net_salary
    employer_contribution = 0.03 * net_salary
    total_contribution = emp_contribution + employer_contribution

    # --- Apply growth to existing corpus ---
    weighted_return = 0
    fund_growth = {}
    for name, fund in funds.items():
        annual_return = np.random.normal(fund["growth_rate"], fund["volatility"])
        fund_growth[f"{name} Return"] = annual_return
        weighted_return += fund["weight"] * annual_return

    corpus = corpus * (1 + weighted_return) + total_contribution

    # --- Calculate fund-wise allocation of current year's contribution ---
    fund_values = {
        name + " Value": total_contribution * (1 + fund_growth[name + " Return"]) * fund["weight"]
        for name, fund in funds.items()
    }

    record = {
        "Year": year,
        "Age": age,
        "Gross Salary": round(salary, 2),
        "Income Tax": round(tax, 2),
        "ACC Levy": round(acc, 2),
        "Net Salary": round(net_salary, 2),
        "Employee Contribution": round(emp_contribution, 2),
        "Employer Contribution": round(employer_contribution, 2),
        "Total Contribution": round(total_contribution, 2),
        "Harboursafe Return": round(fund_values["Harboursafe Value"], 2),
        "Horizon Return": round(fund_values["Horizon Value"], 2),
        "SkyHigh Return": round(fund_values["SkyHigh Value"], 2),
        "Total Fund Value": round(corpus, 2)
    }

    records.append(record)

# Build DataFrame
df_detailed = pd.DataFrame(records)

cumulative_data = df_detailed[[
    "Gross Salary", "Income Tax", "ACC Levy", "Net Salary",
    "Employee Contribution", "Employer Contribution", "Total Contribution",
    "Harboursafe Return", "Horizon Return", "SkyHigh Return"
]].sum()

# Get final fund value only from last row
cumulative_data["Total Fund Value"] = df_detailed["Total Fund Value"].iloc[-1]

cumulative_summary_df = pd.DataFrame([cumulative_data.round(2)])
cumulative_summary_df.insert(0, "Year", "Total")
cumulative_summary_df.insert(1, "Age", "N/A")


# Every 5-year snapshot
summary_every_5_years = df_detailed[df_detailed["Year"] % 5 == 0]

# Display nicely (in Jupyter or IPython)
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")
print("ðŸ”¹ Detailed Yearly Summary:")
display(df_detailed)

print("\nðŸ”¹ Cumulative Summary:")
display(cumulative_summary_df)

print("\nðŸ”¹ Every 5-Year Summary:")
display(summary_every_5_years)

ðŸ”¹ Detailed Yearly Summary:

,Year,Age,Gross Salary,Income Tax,ACC Levy,Net Salary,Employee Contribution,Employer Contribution,Total Contribution,Harboursafe Return,Horizon Return,SkyHigh Return,Total Fund Value
0,1,30,"70,000.00","13,220.03","1,169.00","55,610.97","1,668.33","1,668.33","3,336.66","1,417.86","1,051.53","1,238.13","3,336.66"
1,2,31,"73,516.12","14,080.36","1,227.72","58,208.04","1,746.24","1,746.24","3,492.48","1,433.02","1,090.09","1,498.47","7,334.64"
2,3,32,"76,653.37","14,822.18","1,280.11","60,551.09","1,816.53","1,816.53","3,633.07","1,473.61","1,222.86","1,096.83","11,291.18"
3,4,33,"78,979.24","15,315.59","1,318.95","62,344.70","1,870.34","1,870.34","3,740.68","1,570.49",969.70,835.57,"13,930.35"
4,5,34,"81,299.43","15,802.19","1,357.70","64,139.54","1,924.19","1,924.19","3,848.37","1,519.12","1,267.65","1,055.32","17,755.99"
5,6,35,"82,996.71","16,096.69","1,386.05","65,513.98","1,965.42","1,965.42","3,930.84","1,746.52","1,227.95","1,316.65","23,314.24"
6,7,36,"84,719.10","16,393.35","1,414.81","66,910.95","2,007.33","2,007.33","4,014.66","1,622.37","1,296.71","1,040.20","27,007.33"
7,8,37,"88,002.56","17,152.82","1,469.64","69,380.09","2,081.40","2,081.40","4,162.81","1,677.56","1,291.77","1,220.92","31,348.18"
8,9,38,"92,712.70","18,334.67","1,548.30","72,829.73","2,184.89","2,184.89","4,369.78","1,812.28","1,250.55","1,669.05","38,315.65"
9,10,39,"94,825.77","18,731.61","1,583.59","74,510.57","2,235.32","2,235.32","4,470.63","1,873.99","1,152.40","1,109.03","39,913.31"
10,11,40,"98,331.35","19,540.38","1,642.13","77,148.83","2,314.47","2,314.47","4,628.93","1,989.37","1,503.93","1,497.69","47,664.19"
11,12,41,"101,476.86","20,235.06","1,694.66","79,547.14","2,386.41","2,386.41","4,772.83","1,839.59","1,416.69","1,441.75","51,690.10"
12,13,42,"106,101.29","21,398.71","1,771.89","82,930.69","2,487.92","2,487.92","4,975.84","2,099.17","1,313.44","1,746.14","58,566.12"
13,14,43,"109,406.26","22,148.98","1,827.08","85,430.19","2,562.91","2,562.91","5,125.81","2,057.82","1,736.46","2,024.34","71,607.67"
14,15,44,"114,254.35","23,399.97","1,908.05","88,946.33","2,668.39","2,668.39","5,336.78","2,125.19","1,653.12","1,875.19","81,194.12"
15,16,45,"119,367.86","24,729.83","1,993.44","92,644.59","2,779.34","2,779.34","5,558.68","2,253.58","1,743.49","1,455.71","85,205.96"
16,17,46,"122,117.85","25,270.79","2,039.37","94,807.69","2,844.23","2,844.23","5,688.46","2,453.15","2,060.48","1,855.96","101,096.94"
17,18,47,"127,617.47","26,709.96","2,131.21","98,776.30","2,963.29","2,963.29","5,926.58","2,502.40","1,773.11","2,093.55","114,571.24"
18,19,48,"134,046.88","28,446.57","2,238.58","103,361.73","3,100.85","3,100.85","6,201.70","2,569.26","2,287.10","1,039.85","115,129.24"
19,20,49,"139,840.26","29,963.66","2,335.33","107,541.26","3,226.24","3,226.24","6,452.48","2,689.01","2,000.79","2,171.01","128,867.59"
20,21,50,"141,955.24","30,257.02","2,370.65","109,327.57","3,279.83","3,279.83","6,559.65","2,693.44","2,169.60","2,773.09","156,575.00"
21,22,51,"146,187.96","31,239.11","2,441.34","112,507.52","3,375.23","3,375.23","6,750.45","2,692.28","2,050.08","2,617.38","177,457.68"
22,23,52,"151,785.14","32,661.10","2,534.81","116,589.22","3,497.68","3,497.68","6,995.35","2,828.95","2,348.12","2,355.99","198,093.46"
23,24,53,"158,567.88","34,463.71","2,648.08","121,456.09","3,643.68","3,643.68","7,287.37","2,921.93","2,253.10","2,232.42","208,645.18"
24,25,54,"161,797.09","35,082.75","2,702.01","124,012.32","3,720.37","3,720.37","7,440.74","3,131.97","2,438.50","2,463.39","232,717.85"
25,26,55,"167,080.43","36,368.50","2,790.24","127,921.69","3,837.65","3,837.65","7,675.30","2,967.98","2,350.56","2,374.86","240,941.97"
26,27,56,"171,587.80","37,386.73","2,865.52","131,335.55","3,940.07","3,940.07","7,880.13","3,244.84","2,618.00","3,531.60","295,123.19"
27,28,57,"177,892.92","38,986.49","2,970.81","135,935.62","4,078.07","4,078.07","8,156.14","3,426.81","2,586.76","1,723.44","288,113.67"
28,29,58,"184,072.01","40,532.64","3,074.00","140,465.37","4,213.96","4,213.96","8,427.92","3,507.74","3,346.66","2,686.62","334,593.41"
29,30,59,"191,069.60","42,336.56","3,190.86","145,542.17","4,366.27","4,366.27","8,732.53","3,617.94","2,468.57","3,509.52","376,411.59"
30,31,60,"199,193.75","44,499.62","3,326.54","151,367.59","4,541.03","4,541.03","9,082.06","3,912.74","2,641.55","3,796.97","438,096.74"
31,32,61,"203,373.13","45,347.96","3,396.33","154,628.84","4,638.87","4,638.87","9,277.73","3,959.15","3,604.39","2,496.54","484,317.24"
32,33,62,"209,339.49","46,772.73","3,495.97","159,070.79","4,772.12","4,772.12","9,544.25","3,979.88","2,898.02","2,235.47","471,996.87"
33,34,63,"216,809.90","48,680.23","3,620.73","164,508.94","4,935.27","4,935.27","9,870.54","3,886.56","3,300.89","2,699.75","482,664.10"
34,35,64,"227,758.66","51,721.65","3,803.57","172,233.44","5,167.00","5,167.00","10,334.01","4,126.73","3,196.88","3,941.30","536,477.18"

ðŸ”¹ Cumulative Summary:

,Year,Age,Gross Salary,Income Tax,ACC Levy,Net Salary,Employee Contribution,Employer Contribution,Total Contribution,Harboursafe Return,Horizon Return,SkyHigh Return,Total Fund Value
0,Total,N/A,"4,704,736.43","998,130.20","78,569.07","3,628,037.13","108,841.14","108,841.14","217,682.24","89,624.30","69,581.50","70,719.70","536,477.18"

ðŸ”¹ Every 5-Year Summary:

,Year,Age,Gross Salary,Income Tax,ACC Levy,Net Salary,Employee Contribution,Employer Contribution,Total Contribution,Harboursafe Return,Horizon Return,SkyHigh Return,Total Fund Value
4,5,34,"81,299.43","15,802.19","1,357.70","64,139.54","1,924.19","1,924.19","3,848.37","1,519.12","1,267.65","1,055.32","17,755.99"
9,10,39,"94,825.77","18,731.61","1,583.59","74,510.57","2,235.32","2,235.32","4,470.63","1,873.99","1,152.40","1,109.03","39,913.31"
14,15,44,"114,254.35","23,399.97","1,908.05","88,946.33","2,668.39","2,668.39","5,336.78","2,125.19","1,653.12","1,875.19","81,194.12"
19,20,49,"139,840.26","29,963.66","2,335.33","107,541.26","3,226.24","3,226.24","6,452.48","2,689.01","2,000.79","2,171.01","128,867.59"
24,25,54,"161,797.09","35,082.75","2,702.01","124,012.32","3,720.37","3,720.37","7,440.74","3,131.97","2,438.50","2,463.39","232,717.85"
29,30,59,"191,069.60","42,336.56","3,190.86","145,542.17","4,366.27","4,366.27","8,732.53","3,617.94","2,468.57","3,509.52","376,411.59"
34,35,64,"227,758.66","51,721.65","3,803.57","172,233.44","5,167.00","5,167.00","10,334.01","4,126.73","3,196.88","3,941.30","536,477.18"

In [10]:
import numpy as np
import pandas as pd

# Parameters
initial_salary = 70000
hike_rate = 0.035
self_contribution_rate = 0.03
years = 35
start_age = 30
acc_levy = 0.0167
inflation_rate = 0.025
num_simulations = 5000

# NZ tax brackets
nz_tax_brackets = [
    (0, 15600), (15601, 53500), (53501, 78100), (78101, 180000), (180001, float('inf'))
]
tax_rates = [0.105, 0.175, 0.30, 0.33, 0.39]

# Fund details
funds = {
    "Harboursafe": {"growth_rate": 0.0375, "volatility": 0.05, "weight": 0.4},
    "Horizon": {"growth_rate": 0.065, "volatility": 0.105, "weight": 0.3},
    "SkyHigh": {"growth_rate": 0.1025, "volatility": 0.2075, "weight": 0.3},
}

# Tax function
def calculate_tax(salary, base_slabs, year, inflation_rate=0.025):
    adjusted_slabs = [
        (bracket[0] * ((1 + inflation_rate) ** (year - 1)),
         bracket[1] * ((1 + inflation_rate) ** (year - 1)), rate)
        for (bracket, rate) in zip(base_slabs, tax_rates)
    ]
    tax = 0
    for lower, upper, rate in adjusted_slabs:
        if salary > lower:
            taxable_income = min(salary, upper) - lower
            tax += taxable_income * rate
        else:
            break
    return tax

# Use average Monte Carlo returns for main run
np.random.seed(42)
fund_returns_simulated = {name: [] for name in funds}

for name, fund in funds.items():
    returns = [np.random.normal(fund["growth_rate"], fund["volatility"], num_simulations) for _ in range(years)]
    fund_returns_simulated[name] = np.mean(returns, axis=1)

# Main simulation (single run for reporting)
salary = initial_salary
corpus = 0
records = []

for year in range(1, years + 1):
    age = start_age + year - 1
    if year > 1:
        salary *= (1 + np.random.normal(loc=hike_rate, scale=0.01))

    tax = calculate_tax(salary, nz_tax_brackets, year, inflation_rate)
    acc = acc_levy * salary
    net_salary = salary - tax - acc

    emp_contribution = self_contribution_rate * net_salary
    employer_contribution = 0.03 * net_salary
    total_contribution = emp_contribution + employer_contribution

    harboursafe_return = total_contribution * (1 + fund_returns_simulated["Harboursafe"][year - 1]) * funds["Harboursafe"]["weight"]
    horizon_return = total_contribution * (1 + fund_returns_simulated["Horizon"][year - 1]) * funds["Horizon"]["weight"]
    skyhigh_return = total_contribution * (1 + fund_returns_simulated["SkyHigh"][year - 1]) * funds["SkyHigh"]["weight"]

    total_growth = (
        corpus * (
            fund_returns_simulated["Harboursafe"][year - 1] * funds["Harboursafe"]["weight"] +
            fund_returns_simulated["Horizon"][year - 1] * funds["Horizon"]["weight"] +
            fund_returns_simulated["SkyHigh"][year - 1] * funds["SkyHigh"]["weight"]
        )
    )

    corpus = corpus + total_growth + total_contribution

    records.append({
        "Year": year,
        "Age": age,
        "Gross Salary": round(salary, 2),
        "Income Tax": round(tax, 2),
        "ACC Levy": round(acc, 2),
        "Net Salary": round(net_salary, 2),
        "Employee Contribution": round(emp_contribution, 2),
        "Employer Contribution": round(employer_contribution, 2),
        "Total Contribution": round(total_contribution, 2),
        "Harboursafe Return": round(harboursafe_return, 2),
        "Horizon Return": round(horizon_return, 2),
        "SkyHigh Return": round(skyhigh_return, 2),
        "Total Fund Value": round(corpus, 2)
    })

df_detailed = pd.DataFrame(records)

# Monte Carlo percentiles for final year
all_simulations = []
for sim in range(num_simulations):
    salary = initial_salary
    corpus = 0
    for year in range(1, years + 1):
        if year > 1:
            salary *= (1 + np.random.normal(loc=hike_rate, scale=0.01))
        tax = calculate_tax(salary, nz_tax_brackets, year, inflation_rate)
        acc = acc_levy * salary
        net_salary = salary - tax - acc
        emp_contribution = self_contribution_rate * net_salary
        employer_contribution = 0.03 * net_salary
        total_contribution = emp_contribution + employer_contribution
        weighted_return = sum([
            fund["weight"] * np.random.normal(fund["growth_rate"], fund["volatility"])
            for fund in funds.values()
        ])
        corpus = corpus * (1 + weighted_return) + total_contribution
    all_simulations.append(corpus)

final_corpus_percentiles = np.percentile(all_simulations, [5, 25, 50, 75, 95])
cumulative_summary_df = pd.DataFrame([{
    "Year": "Total",
    "Age": "N/A",
    "5th Percentile": round(final_corpus_percentiles[0], 2),
    "25th Percentile": round(final_corpus_percentiles[1], 2),
    "50th Percentile (Median)": round(final_corpus_percentiles[2], 2),
    "75th Percentile": round(final_corpus_percentiles[3], 2),
    "95th Percentile": round(final_corpus_percentiles[4], 2),
}])

# Every 5-Year Summary
summary_every_5_years = df_detailed[df_detailed["Year"] % 5 == 0]

# Show dataframes
from IPython.display import display
pd.set_option("display.float_format", lambda x: f"{x:,.2f}")

print("ðŸ”¹ Detailed Yearly Summary:")
display(df_detailed)

print("\nðŸ”¹ Monte Carlo Cumulative Summary:")
display(cumulative_summary_df)

print("\nðŸ”¹ Every 5-Year Summary:")
display(summary_every_5_years)

ðŸ”¹ Detailed Yearly Summary:

,Year,Age,Gross Salary,Income Tax,ACC Levy,Net Salary,Employee Contribution,Employer Contribution,Total Contribution,Harboursafe Return,Horizon Return,SkyHigh Return,Total Fund Value
0,1,30,"70,000.00","13,220.03","1,169.00","55,610.97","1,668.33","1,668.33","3,336.66","1,385.09","1,067.93","1,105.79","3,336.66"
1,2,31,"72,539.19","13,787.28","1,211.40","57,540.50","1,726.22","1,726.22","3,452.43","1,432.08","1,101.09","1,143.10","7,005.41"
2,3,32,"74,733.97","14,246.35","1,248.06","59,239.56","1,777.19","1,777.19","3,554.37","1,475.82","1,133.17","1,180.37","11,022.93"
3,4,33,"77,383.06","14,836.74","1,292.30","61,254.03","1,837.62","1,837.62","3,675.24","1,526.44","1,175.82","1,216.84","15,429.58"
4,5,34,"79,451.07","15,247.69","1,326.83","62,876.56","1,886.30","1,886.30","3,772.59","1,564.24","1,204.95","1,248.26","20,203.60"
5,6,35,"82,527.39","15,955.89","1,378.21","65,193.29","1,955.80","1,955.80","3,911.60","1,622.80","1,247.71","1,301.06","25,457.93"
6,7,36,"83,854.76","16,134.04","1,400.37","66,320.34","1,989.61","1,989.61","3,979.22","1,650.51","1,270.37","1,316.69","31,089.95"
7,8,37,"86,614.70","16,736.47","1,446.47","68,431.77","2,052.95","2,052.95","4,105.91","1,703.60","1,311.49","1,360.28","37,236.25"
8,9,38,"90,748.06","17,745.27","1,515.49","71,487.29","2,144.62","2,144.62","4,289.24","1,781.58","1,370.75","1,418.23","43,967.65"
9,10,39,"94,961.75","18,772.40","1,585.86","74,603.49","2,238.10","2,238.10","4,476.21","1,857.19","1,432.45","1,475.43","51,281.18"
10,11,40,"96,277.16","18,924.12","1,607.83","75,745.21","2,272.36","2,272.36","4,544.71","1,887.19","1,452.12","1,495.03","59,094.01"
11,12,41,"99,164.53","19,541.36","1,656.05","77,967.12","2,339.01","2,339.01","4,678.03","1,940.54","1,497.90","1,547.91","67,666.82"
12,13,42,"103,293.06","20,524.72","1,724.99","81,043.35","2,431.30","2,431.30","4,862.60","2,020.39","1,551.75","1,603.10","76,880.09"
13,14,43,"105,854.49","21,031.57","1,767.77","83,055.15","2,491.65","2,491.65","4,983.31","2,067.87","1,589.93","1,649.36","86,859.58"
14,15,44,"108,419.40","21,532.92","1,810.60","85,075.88","2,552.28","2,552.28","5,104.55","2,117.93","1,628.52","1,692.85","97,660.15"
15,16,45,"112,759.61","22,560.16","1,883.09","88,316.37","2,649.49","2,649.49","5,298.98","2,199.28","1,692.03","1,754.08","109,343.32"
16,17,46,"116,475.10","23,408.68","1,945.13","91,121.28","2,733.64","2,733.64","5,467.28","2,269.81","1,746.30","1,805.38","121,894.63"
17,18,47,"121,597.83","24,723.48","2,030.68","94,843.67","2,845.31","2,845.31","5,690.62","2,361.86","1,818.09","1,881.53","135,529.07"
18,19,48,"125,304.73","25,561.66","2,092.59","97,650.48","2,929.51","2,929.51","5,859.03","2,432.25","1,869.55","1,939.49","150,230.40"
19,20,49,"129,903.67","26,684.59","2,169.39","101,049.69","3,031.49","3,031.49","6,062.98","2,514.11","1,938.05","1,994.75","165,806.55"
20,21,50,"132,924.40","27,276.84","2,219.84","103,427.72","3,102.83","3,102.83","6,205.66","2,575.12","1,985.05","2,056.98","183,006.74"
21,22,51,"137,892.79","28,501.70","2,302.81","107,088.28","3,212.65","3,212.65","6,425.30","2,669.64","2,056.18","2,111.42","201,165.18"
22,23,52,"141,356.95","29,219.80","2,360.66","109,776.49","3,293.29","3,293.29","6,586.59","2,733.86","2,101.71","2,174.91","220,698.06"
23,24,53,"146,884.03","30,608.04","2,452.96","113,823.03","3,414.69","3,414.69","6,829.38","2,835.10","2,182.36","2,256.54","241,895.55"
24,25,54,"151,108.00","31,555.36","2,523.50","117,029.14","3,510.87","3,510.87","7,021.75","2,911.17","2,242.81","2,313.78","264,282.35"
25,26,55,"154,911.10","32,352.62","2,587.02","119,971.46","3,599.14","3,599.14","7,198.29","2,988.82","2,295.07","2,375.81","288,421.33"
26,27,56,"161,840.05","34,169.97","2,702.73","124,967.35","3,749.02","3,749.02","7,498.04","3,112.12","2,395.90","2,491.65","315,215.60"
27,28,57,"169,348.78","36,166.93","2,828.12","130,353.73","3,910.61","3,910.61","7,821.22","3,246.82","2,489.89","2,578.95","342,963.80"
28,29,58,"177,050.98","38,215.70","2,956.75","135,878.53","4,076.36","4,076.36","8,152.71","3,381.44","2,602.15","2,691.76","373,102.68"
29,30,59,"185,225.79","40,408.10","3,093.27","141,724.41","4,251.73","4,251.73","8,503.46","3,531.56","2,724.17","2,813.15","406,414.93"
30,31,60,"189,819.19","41,406.02","3,169.98","145,243.19","4,357.30","4,357.30","8,714.59","3,616.04","2,785.22","2,877.51","441,441.12"
31,32,61,"197,444.08","43,391.37","3,297.32","150,755.39","4,522.66","4,522.66","9,045.32","3,753.65","2,891.75","2,983.40","478,961.56"
32,33,62,"201,254.78","44,104.77","3,360.95","153,789.05","4,613.67","4,613.67","9,227.34","3,826.48","2,940.16","3,052.89","518,927.74"
33,34,63,"204,772.49","44,707.89","3,419.70","156,644.91","4,699.35","4,699.35","9,398.69","3,902.08","2,997.90","3,112.79","562,231.36"
34,35,64,"213,200.92","46,917.59","3,560.46","162,722.87","4,881.69","4,881.69","9,763.37","4,053.07","3,121.00","3,221.49","608,399.23"

ðŸ”¹ Monte Carlo Cumulative Summary:

,Year,Age,5th Percentile,25th Percentile,50th Percentile (Median),75th Percentile,95th Percentile
0,Total,N/A,"396,063.75","508,210.50","606,295.12","721,212.26","943,584.63"

ðŸ”¹ Every 5-Year Summary:

,Year,Age,Gross Salary,Income Tax,ACC Levy,Net Salary,Employee Contribution,Employer Contribution,Total Contribution,Harboursafe Return,Horizon Return,SkyHigh Return,Total Fund Value
4,5,34,"79,451.07","15,247.69","1,326.83","62,876.56","1,886.30","1,886.30","3,772.59","1,564.24","1,204.95","1,248.26","20,203.60"
9,10,39,"94,961.75","18,772.40","1,585.86","74,603.49","2,238.10","2,238.10","4,476.21","1,857.19","1,432.45","1,475.43","51,281.18"
14,15,44,"108,419.40","21,532.92","1,810.60","85,075.88","2,552.28","2,552.28","5,104.55","2,117.93","1,628.52","1,692.85","97,660.15"
19,20,49,"129,903.67","26,684.59","2,169.39","101,049.69","3,031.49","3,031.49","6,062.98","2,514.11","1,938.05","1,994.75","165,806.55"
24,25,54,"151,108.00","31,555.36","2,523.50","117,029.14","3,510.87","3,510.87","7,021.75","2,911.17","2,242.81","2,313.78","264,282.35"
29,30,59,"185,225.79","40,408.10","3,093.27","141,724.41","4,251.73","4,251.73","8,503.46","3,531.56","2,724.17","2,813.15","406,414.93"
34,35,64,"213,200.92","46,917.59","3,560.46","162,722.87","4,881.69","4,881.69","9,763.37","4,053.07","3,121.00","3,221.49","608,399.23"